@import "./global.css";
.sec-hero {
  background-color: #6b5782;
  height: 100%;
}
.hero-main img {
  border-radius: 50%;

  &:hover {
    border: 2px solid #796296;
    width: 35px;
    height: 35px;
  }
}
.hero-left,
.hero-right {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.right-box,
.left-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(31, 25, 38);
  padding: 5rem 4rem;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 13px 22px -8px rgba(31, 25, 38, 0.83);
}
.left-box p,
.right-box p {
  color: #fef6ff;
  letter-spacing: 1px;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 2.4rem;
  text-transform: capitalize;
}
.hero-main {
  padding: 5rem;
  display: flex;
  gap: 6rem;
}
/* responsiveligi */

@media screen and (max-width: 800px) {
  .hr {
    display: none;
  }
  .header-main {
    flex-direction: column;
  }
  .menu-all {
    display: flex;
    justify-content: space-between;
  }
  .header-main {
    gap: 4rem;
  }
}
@media screen and (max-width: 770px) {
  .hero-main {
    flex-direction: column;
  }
}
